* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif', serif;
  cursor: crosshair;
  overflow: hidden;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.title {
  position: absolute;
  text-transform: uppercase;
  font-size: 7cqi;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 5vw;
}

.aspiring {
  font-size: 3vw;
  text-transform: uppercase;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.role {
  width: min-content;
}

@media (max-width: 540px) {
  .title {
    font-size: 16vw;
    line-height: 12vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
  }

  .aspiring {
    font-size: 8vw;
  }
  
}